@import "normalize/normalize";
@include normalize();
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import "font-awesome-4.7.0/font-awesome";
@import "variables";
@import "mixins";
@import "sprites";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $purple;
  background-color: $white;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-header {
  // @include clearfix;
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 148px;
  }

  // align-items: flex-start;

}

.logo {
  // float: left;
  width: 270px;
  // margin-top: 20px;
}

.nav {
  // float: left;
  // width: 560px;
  flex-grow: 1;
  // margin-top: 25px;
  padding: 0 20px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  @include cards;

  margin: 0;
  padding: 0;
  font-size: 0;
}

.nav__link {
  display: block;
  padding: 5px 18px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $purple;

  &--active {
    font-weight: 700;
    color: $yellow;
    pointer-events: none; /* делаем ссылку некликабельной */
  	cursor: default;  /* устанавливаем курсор в виде стрелки */
  }

  &:hover {
    color: $yellow;
  }
}

.callback {
  // float: right;
  // align-items: stretch;
  // min-height: 148px;
  // align-items: stretch;
  // align-self: center;
  width: 329px;
  padding: 2.8% 0;
  padding-left: 29px;
  font-size: 0;
  border-left: 1px solid #ebebeb;;
}

.callback__desc {
  // flex-grow: 1;
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 700;
}

.callback__phone {
  position: relative;
  @include cards;
  // vertical-align: bottom;
  margin-left: 20px;
  padding-left: 18px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  border-left: 1px solid fade-out(#202242, .69);
}

.promo {
  position: relative;
  padding-top: 220px;
  padding-bottom: 140px;
  color: $white;
  background-image: linear-gradient($bg-mask,$bg-mask),
  url(../img/bg-promo.jpg);
  background-size: cover;
}

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 1.3;
  font-weight: 400;
  text-align: center;
}

.promo__desc {
  margin: 0;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;

  &::after {
    content: url(../img/figure.svg);
    display: block;
    margin-top: 50px;
    margin-bottom: 55px;
  }
}

.search {
  width: 570px;
  padding: 17px;
  margin: 0 auto;
  font-size: 0px;
  background-color: fade-out($white, 0.5);
}

.search__field {
  width: 273px;
  height: 54px;
  margin-right: 1px;
  padding: 14px 30px 14px 20px;
  font-size: 18px;
  border: none;
}

.search__select {
  width: 109px;
  height: 54px;
  padding: 14px 20px;
  font-size: 18px;
  vertical-align: top;
  font-weight: 700;
  color: $purple;
  background: url(../img/icon/arrow-down.png) no-repeat;
  background-position: 75px 24px;
  background-color: $yellow;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &::-ms-expand {
    display: none;
  }
}

.services {
  // @include clearfix;
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }


  background-image: linear-gradient(to right, $purple 0%, $purple 50%,
   $yellow 50%, $yellow 100%);

   p {
     margin: 0;
   }
}

@media (max-width: 900px) {
  .services {
    flex-direction: column;
  }
}

.services__inner {
  margin-top: 40px;
  margin-bottom: 30px;
}

.services__content {
  position: relative;
  width: 50%;
  text-align: center;
  color: $white;

  &--left {
    float: left;
    padding: 115px 85px 105px 70px;
    background-color: $purple;
  }
  &--right {
    float: right;
    padding: 115px 70px 105px 85px;
    background-color: $yellow;
  }
}

.services__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
}

.services__logo-text {
  display: block;
  height: 169px;
  line-height: 1.2;
  font-size: 134px;
  font-weight: 700;
  color: $purple;
}

.features {
  padding: 80px 0 110px 0;
  background: $light-pink url(../img/bg-features.png) no-repeat center bottom;

  text-align: center;
}

.features__inner {
  @include clearfix;
}

.features__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.1;
}

.features__desc {
  margin: 0;
  margin-bottom: 70px;
  font-size: 24px;
  line-height: 1.1;
}

.feature {
  float: left;
  width: 270px;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}


.feature__img {
  margin-bottom: 30px;
}

.feature__title {
  position: relative;
  margin: 0;
  padding-top: 30px;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 400;
  color: $yellow;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 69px;
    height: 3px;
    margin-left: -34px;
    background-color: fade-out($purple, .5);
  }
}

.client {
  @include clearfix;
  padding: 80px 0;

  p {
    font-size: 16px;
    color: $gray;
  }
}

.client__inner {
  float: left;
  width: 350px;
  padding-right: 35px;
}

.client__title {
  margin: 0;
  font-size: 36px;
  line-height: 1;
}

.company {
  float: right;
  width: 780px;
  margin-top: 15px;
  font-size: 0;
}

.company__link {
  @include cards;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.reviews {
  margin-bottom: 110px;
}

.reviews__list {
  @include clearfix;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__item {
  position: relative;
  width: 363px;
  float: left;
  margin-right: 30px;
  color: $gray;

  &:last-child {
    margin-right: 0;
  }
}

.reviews__inner {
  padding: 20px 0;
  background-color: $light-gray;
}

.reviews__author {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  color: $dimgray;
}

.reviews__avatar {
  position: absolute;
  bottom: -50px;
  right: 25px;
  width: 100px;
  height: 100px;
  border: 5px solid $bd-avatar;
  border-radius: 50%;
}

.plans {
  background-color: $purple;
  color: $white;
}

.plans__inner {
  position: relative;
  padding: 90px 80px;
}

.plans__title {
  font-size: 36px;
  line-height: 1.1;
}

.plans__desc {
  font-size: 18px;
  color: $light-purple;
}
.page-footer {
  background-color: fade-out($purple, 0.1);
}

.footer__inner {
  @include clearfix;
  padding: 85px 0 20px;
}

.map {
  float: left;
  position: relative;
  width: 920px;
  height: 409px;
  background: url(../img/bg-map.png) no-repeat 0 50%;
}

.map__marker--indonesia {
  position: absolute;
  bottom: 125px;
  right: 57px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -50px;
    width: 33px;
    height: 47px;
    background: url(../img/map-marker.svg) no-repeat;
  }
}

.map__marker-text {
  font-size: 18px;
  font-weight: 700;
  color: $white;
  text-decoration: none;

  &:hover {
    color: $yellow;
  }
}

.right-block {
  float: right;
  width: 200px;
  padding-top: 30px;
  text-align: right;
}

.right-block__title {
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 24px;
  color: $white;
}

.menu {
  margin-bottom: 30px;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__link {
  width: 70px;
  @include cards;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  border-bottom: 1px solid fade-out($white, 0.84);

  &:hover {
    color: $yellow;
    border-color: $yellow;
  }
}

.social {
  margin-bottom: 40px;
}

.social-icon {
  @include cards;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url(../img/icon/icon-socials.png) no-repeat;
  background-position: 0 0;
  opacity: 0.7;
  transition: opacity 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 1;
  }

  &--in {
    background-position: -34px 0;
  }
  &--gplus {
    background-position: -70px 0;
  }
}

.copyright {
  position: relative;
  padding: 40px 0 60px;
  color: #fff;
  text-align: center;
}

.copyright::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 30px;
  margin-left: -15px;
  background: url(../img/figure.svg) no-repeat;
  background-size: contain;
  /*transform-origin: 0 0;*/
  transform: rotate(-15deg);
}

.btn {
  @include cards;
  margin: 0;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: $purple;
  background-color: $yellow;
  border: none;

  &:hover {
    background-color: darken($yellow, 15%);
  }

  &--search {
    width: 153px;
    height: 54px;
    padding: 14px 20px;
    color: $white;
    border-left: 1px solid $white;
    cursor: pointer;
  }
}

.btn-services {
  @include cards;
  padding: 12px 50px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: $white;
  border: 2px solid $white;
  background-color: fade-out($white, 1);


  &--yellow {
    &:hover {
      color: $yellow;
      border: 2px solid $yellow;
      background-color: inherit;
    }
  }
  &--blue {
    &:hover {
      color: $purple;
      border: 2px solid $purple;
      background-color: inherit;
    }
  }
}

.btn-plans--right {
  position: absolute;
  top: 85px;
  right: 90px;
  padding: 25px 45px;
  font-size: 18px;
  border: 4px solid $white;
}

.to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  color: $white;
  text-decoration: none;
  background-color: fade-out(#000, .5);
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity ease-out .5s;
  z-index: 999;

  &:hover {
    opacity: 1;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -6px;
  }
}
