// @import "font-awesome-4.7.0/font-awesome";
@import "minireset";
@import "variables";
@import "mixins";
@import "fonts";


// BASE STYLES

html,
body {
  display: flex;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $purple;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: calc(1170px + 20px);
  margin: 0 auto;
  padding: 0 10px;
}

// BUTTON

.btn {
  @include cards;
  margin: 0;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: $purple;
  background-color: $yellow;
  border: none;

  &:hover {
    background-color: darken($yellow, 15%);
  }

  &--search {
    width: 153px;
    height: 54px;
    padding: 14px 20px;
    color: $white;
    border-left: 1px solid $white;
    cursor: pointer;
  }
}

.btn-services {
  @include cards;
  padding: 12px 50px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: $white;
  border: 2px solid $white;
  background-color: fade-out($white, 1);


  &--yellow {
    &:hover {
      color: $yellow;
      border: 2px solid $yellow;
      background-color: inherit;
    }
  }
  &--blue {
    &:hover {
      color: $purple;
      border: 2px solid $purple;
      background-color: inherit;
    }
  }
}

// BUTTON END


// HEADER

.page-header {

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

}

.page-header__inner {
  display: flex;
}

.logo {
  width: 270px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  @include cards;

  margin: 0;
  padding: 0;
  font-size: 0;
}

.nav__link {
  display: block;
  padding: 5px 18px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $purple;

  &--active {
    font-weight: 700;
    color: $yellow;
    pointer-events: none; /* делаем ссылку некликабельной */
  	cursor: default;  /* устанавливаем курсор в виде стрелки */
  }

  &:hover {
    color: $yellow;
  }
}

// HAMBURGER MENU

.hamburger {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .15s linear;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.6;
  }
}

.hamburger--show {
  display: none;
}

.hamburger__inner {
  position: absolute;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.hamburger--active {

  .hamburger__inner {
    transform: rotate(45deg);

    &::before {
      top: 0;
      opacity: 0;
    }

    &::after {
      top: 0;
      transform: rotate(90deg);
    }

  }
}


.callback {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 29px;
  font-size: 0;
  border-left: 1px solid #ebebeb;;
}

.callback__desc {
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 700;
}

.callback__phone {
  position: relative;
  @include cards;
  margin-left: 20px;
  padding-left: 18px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  border-left: 1px solid fade-out(#202242, .69);
}

// HEADER END

// HEADER MEDIA QUERIES

@media ($desktop) {

  .container {
    padding: 0;
  }

  .page-header__inner {
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
  }

  .callback {
    display: flex;
    order: -1;
    width: 100%;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: none;
    background-color: #577ca7;
    color: #fff;
  }

  .callback__desc {
    font-size: 14px;
    margin: 0;
  }

  .promo__title {
    font-size: 3em;
  }
}

@media ($mobile) {

  .page-header {
    margin: 0;
    padding: 0;
  }

  .page-header__inner {
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .page-header__mobile {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
  }

  .logo__link {
    display: flex;
    align-items: center;
    height: 40px;
  }

  .nav {
    display: none;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }

  .nav--show {
    display: flex;
  }

  .nav__list {
    display: flex;
    flex-direction: column;

  }

  .nav__link {
    text-align: center;
    font-size: 18px;
  }

  .hamburger--show {
    display: inline-flex;
  }

  .callback {
    display: none;
  }

}

// HEADER MEDIA QUERIES END

// PROMO

.promo {
  position: relative;
  padding-top: 220px;
  padding-bottom: 140px;
  color: $white;
  background-image: linear-gradient($bg-mask,$bg-mask),
  url(../img/bg-promo.jpg);
  background-size: cover;
}

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 1.3;
  font-weight: 400;
  text-align: center;
}

.promo__desc {
  margin: 0;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;

  &::after {
    content: url(../img/figure.svg);
    display: block;
    margin-top: 50px;
    margin-bottom: 55px;
  }
}

.search {
  width: 570px;
  padding: 17px;
  margin: 0 auto;
  font-size: 0px;
  background-color: fade-out($white, 0.5);
}

.search__field {
  width: 273px;
  height: 54px;
  margin-right: 1px;
  padding: 14px 30px 14px 20px;
  font-size: 18px;
  border: none;
}

.search__select {
  width: 109px;
  height: 54px;
  padding: 14px 20px;
  font-size: 18px;
  vertical-align: top;
  font-weight: 700;
  color: $purple;
  background: url(../img/icon/arrow-down.png) no-repeat;
  background-position: 75px 24px;
  background-color: $yellow;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &::-ms-expand {
    display: none;
  }
}

@media ($desktop) {
  .promo__title {
    font-size: 3rem;
  }
}

@media ($mobile) {
  .promo__title {
    font-size: 2.5rem;
  }
  .promo__desc {
    font-size: 1.8rem;
  }
  .search {
    width: 100%;
    padding: 20px 40px;
    // padding-bottom: 10;
    // flex-grow: 1;
    // display: flex;
  }
  .search__box {
    width: 100%;
    // padding: 0 20px;
    // flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .search__field {
    // flex-grow: 1;
    width: 100%;
    display: flex;
    margin: 0;
    margin-bottom: 10px;
  }
  .search__select {
    // display: inline-flex;
    width: 30%;
    flex-grow: 1;
    flex-basis: 100px;
    // margin-bottom: 10px;
  }
  .btn--search {
    // display: inline-flex;
    width: 70%;
    flex-grow: 1;


  }
}

@media ($mobile-small) {
  .promo__title {
    font-size: 2rem;
  }
  .promo__desc {
    font-size: 1.4rem;
  }

  .search__select {
    width: 100%;
    margin-bottom: 10px;
  }
  .btn--search {
    width: 100%;
    border-left: 0;
  }
}

// PROMO END

// SERVICES

.services {

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  background-image: linear-gradient(to right, $purple 0%, $purple 50%,
   $yellow 50%, $yellow 100%);

  p {
   margin: 0;
  }
}

.services__inner {
  margin-top: 40px;
  margin-bottom: 30px;
}

.services__content {
  position: relative;
  width: 50%;
  text-align: center;
  color: $white;

  &--left {
    padding: 115px 85px 105px 70px;
    background-color: $purple;
  }

  &--right {
    padding: 115px 70px 105px 85px;
    background-color: $yellow;
  }
}

.services__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.3;
}

.services__logo-text {
  display: block;
  height: 169px;
  line-height: 1.2;
  font-size: 134px;
  font-weight: 700;
  color: $purple;
}


@media (max-width: 1200px) {

  .services__content {

    &--left {
      padding: 85px 20px 75px;
    }

    &--right {
      padding: 85px 20px 75px;
    }
  }

  .services__title {
    font-size: 30px;
  }

  .services__logo-text {
    font-size: 114px;
  }
}

@media (max-width: 960px) {

  .services {

    .container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    background-image: linear-gradient($transparency);

    p {
      font-size: 16px;
    }
  }

  .services__content {
    width: 100%;

    &--left {
      padding: 85px 50px 75px;
    }

    &--right {
      padding: 85px 50px 75px;
    }
  }

  .services__title {
    font-size: 30px;
  }

  .services__logo-text {
    margin: 0;
    vertical-align: top;
    height: 100px;
    font-size: 114px;
    line-height: .7;
  }
}

// SERVICES END

// FEATURES

.features {
  padding: 80px 0;
  background: $light-pink url(../img/bg-features.png) no-repeat center bottom;

  text-align: center;
}

.features__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.features__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.1;
}

.features__desc {
  margin: 0;
  margin-bottom: 70px;
  font-size: 24px;
  line-height: 1.1;
}

.feature {
  width: 270px;
  margin-bottom: 50px;
}

.feature__img {
  margin-bottom: 30px;
}

.feature__title {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 30px;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 400;
  color: $yellow;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 69px;
    height: 3px;
    margin-left: -34px;
    background-color: fade-out($purple, .5);
  }
}

// FEATURES END

// CLIENT END

.client {
  // @include clearfix;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0px;

  p {
    font-size: 16px;
    color: $gray;
  }
}

.client__inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-left: 20px;
  text-align: left;
  flex-basis: 370px;
}

.client__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 1;
}

@media (max-width: 1020px) {
  .client {
    padding: 80px 40px;
  }
}

.company {
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  // flex-grow: 1;
  flex-basis: 780px;
  font-size: 0;
}

.company__link {
  // flex-basis: 200px;
}

@media (max-width: 1166px) {
  .client__inner {
    padding-left: 0;
    text-align: center;
  }

}

.reviews {
  margin-bottom: 110px;
}

.reviews__list {
  // @include clearfix;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__item {
  position: relative;
  width: 363px;

  margin-bottom: 80px;
  color: $gray;

}

.reviews__inner {
  padding: 20px 25px;
  background-color: $light-gray;
}

.reviews__author {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  color: $dimgray;
}

.reviews__avatar {
  position: absolute;
  bottom: -40px;
  right: 25px;
  width: 100px;
  height: 100px;
  border: 5px solid $bd-avatar;
  border-radius: 50%;
}

// CLIENT END

// PLANS

.plans {
  background-color: $purple;
  color: $white;
}

.plans__inner {
  // position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 90px 80px;
}

.plans__text {
  width: 100%;

  flex-grow: 1;
  flex-basis: 394px;
}

.plans__title {
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 10px;
  font-weight: 700;
}

.plans__desc {
  margin-bottom: 20px;
  font-size: 18px;
  color: $light-purple;
}

.btn-plans--right {
  // position: absolute;
  // top: 85px;
  // right: 90px;
  // flex-basis: 150px;
  // flex-wrap: nowrap;
  // width: 40%;
  // flex-grow: 1;
  padding: 25px 45px;
  font-size: 18px;
  border: 4px solid $white;
}

@media ($desktop) {
  .plans__inner {
    padding: 70px 60px;
  }
  .plans__text {
    padding-right: 40px;
  }
  .plans__title {
    font-size: 2.3rem;
  }
  .btn-plans--right {
    padding: 15px 35px;
    font-size: 18px;
    border: 4px solid $white;
  }
}

@media ($mobile) {
  .plans__title {
    font-size: 2rem;
  }
  .btn-plans--right {
    padding: 15px 25px;
    font-size: 16px;
    border: 4px solid $white;
  }
}

@media ($mobile-s) {
  .plans__inner {
    // flex-direction: column;
    // padding: 70px 60px;
  }
  .plans__text {
    padding-right: 0;
  }
  .plans__title {
    font-size: 2rem;
  }
  .btn-plans--right {
    padding: 15px 25px;
    font-size: 16px;
    border: 4px solid $white;
  }
}

@media ($mobile-small) {
  .plans__title {
    font-size: 1.7rem;
  }
}

// PLANS END

// FOOTER

.page-footer {
  background-color: fade-out($purple, 0.1);
}

.footer__inner {
  // @include clearfix;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  padding: 85px 0 20px;
}

.map {
  // flex-grow: 1;
  position: relative;
  // background: url(../img/bg-map.png) no-repeat 0 50%;
  max-width: 920px;
  max-height: 409px;
}

.map__picture {
  position: relative;
}

.map__marker--indonesia {
  position: absolute;
  bottom: 125px;
  right: -35px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -50px;
    width: 33px;
    height: 47px;
    background: url(../img/map-marker.svg) no-repeat;
  }
}

.map__marker-text {
  font-size: 18px;
  font-weight: 700;
  color: $white;
  text-decoration: none;

  &:hover {
    color: $yellow;
  }
}

@media ($mobile) {
  .map__picture {
    position: relative;
  }

  .map__marker--indonesia {
    position: absolute;
    bottom: 80px;
    right: 30px;

    &::after {
      background: none;
    }
  }

  .map__marker-text {
    font-size: 1rem;
    font-weight: 700;
    color: $white;
    text-decoration: none;

    &:hover {
      color: $yellow;
    }
  }

}

.right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
  flex-grow: 1;
  padding-top: 30px;
  padding-right: 60px;
  text-align: right;
}

.right-block__title {
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 24px;
  color: $white;
}

.menu {
  margin-bottom: 30px;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__link {
  width: 70px;
  @include cards;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  border-bottom: 1px solid fade-out($white, 0.84);

  &:hover {
    color: $yellow;
    border-color: $yellow;
  }
}

.social {
  margin-bottom: 40px;
}

.social-icon {
  @include cards;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url(../img/icon/icon-socials.png) no-repeat;
  background-position: 0 0;
  opacity: 0.7;
  transition: opacity 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 1;
  }

  &--in {
    background-position: -34px 0;
  }
  &--gplus {
    background-position: -70px 0;
  }
}

.copyright {
  position: relative;
  padding: 40px 0 60px;
  color: #fff;
  text-align: center;
}

.copyright::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 30px;
  margin-left: -15px;
  background: url(../img/figure.svg) no-repeat;
  background-size: contain;
  /*transform-origin: 0 0;*/
  transform: rotate(-15deg);
}

// FOOTER END

.to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  color: $white;
  text-decoration: none;
  background-color: fade-out(#000, .5);
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity linear .15s;
  z-index: 999;

  &:hover {
    opacity: 1;
  }

}

.to-top--hidden {
  transition: opacity .25s ease;
  opacity: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -3px;
  width: 9px;
  height: 9px;
  border: solid #fff;
  border-width: 0;
  border-right-width: 3px;
  border-bottom-width: 3px;

}

.arrow--up {
  transform: rotate(-135deg);
}
