html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.page {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $purple;
  background-color: $white;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}
