.features {
  padding: 80px 0 110px 0;
  background: $light-pink url(../img/bg-features.png) no-repeat center bottom;
  text-align: center;
}

.features-inner {
  @include clearfix;
}

.features__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.1;
}

.features__desc {
  margin: 0;
  margin-bottom: 70px;
  font-size: 24px;
  line-height: 1.1;
}

.feature {
  float: left;
  width: 270px;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.feature__img {
  margin-bottom: 30px;
}

.feature__title {
  position: relative;
  margin: 0;
  padding-top: 30px;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 400;
  color: $yellow;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 69px;
    height: 3px;
    margin-left: -34px;
    background-color: fade-out($purple, .5);
  }
}
