.page-footer {
  background-color: fade-out($purple, 0.1);
}

.footer-inner {
  @include clearfix;
  padding: 85px 0 20px;
}

.map {
  float: left;
  position: relative;
  width: 920px;
  height: 409px;
  background: url(../img/bg-map.png) no-repeat 0 50%;
}

.map__marker--indonesia {
  position: absolute;
  bottom: 125px;
  right: 57px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -50px;
    width: 33px;
    height: 47px;
    background: url(../img/map-marker.svg) no-repeat;
  }
}

.map__marker-text {
  font-size: 18px;
  font-weight: 700;
  color: $white;
  text-decoration: none;

  &:hover {
    color: $yellow;
  }
}

.right-block {
  float: right;
  width: 200px;
  padding-top: 30px;
  text-align: right;
}

.right-block__title {
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 24px;
  color: $white;
}

.menu {
  margin-bottom: 30px;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__link {
  width: 70px;
  @include cards;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  border-bottom: 1px solid fade-out($white, 0.84);

  &:hover {
    color: $yellow;
    border-color: $yellow;
  }
}

.social {
  margin-bottom: 40px;
}

.social-icon {
  @include cards;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url(../img/icon/icon-socials.png) no-repeat;
  background-position: 0 0;
  opacity: 0.7;
  transition: opacity 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 1;
  }

  &--in {
    background-position: -34px 0;
  }
  &--gplus {
    background-position: -70px 0;
  }
}

.copyright {
  position: relative;
  padding: 40px 0 60px;
  color: #fff;
  text-align: center;
}

.copyright::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 30px;
  margin-left: -15px;
  background: url(../img/figure.svg) no-repeat;
  background-size: contain;
  /*transform-origin: 0 0;*/
  transform: rotate(-15deg);
}
