.plans {
  background-color: $purple;
  color: $white;
}

.plans-inner {
  position: relative;
  padding: 90px 80px;
}

.plans__title {
  font-size: 36px;
  line-height: 1.1;
}

.plans__desc {
  font-size: 18px;
  color: $light-purple;
}
