.promo {
  position: relative;
  padding-top: 220px;
  padding-bottom: 140px;
  color: $white;
  background-image: linear-gradient($bg-mask,$bg-mask),
  url(../img/bg-promo.jpg);
  background-size: cover;
}

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 1.3;
  font-weight: 400;
  text-align: center;
}

.promo__desc {
  margin: 0;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;

  &::after {
    content: url(../img/figure.svg);
    display: block;
    margin-top: 50px;
    margin-bottom: 55px;
  }
}
