.services {
  @include clearfix;
  background-image: linear-gradient(to right, $purple 0%, $purple 50%,
   $yellow 50%, $yellow 100%);

   p {
     margin: 0;
   }
}

.services-inner {
  margin-top: 40px;
  margin-bottom: 30px;
}

.services__content {
  position: relative;
  width: 50%;
  text-align: center;
  color: $white;

  &--left {
    float: left;
    padding: 115px 85px 105px 70px;
    background-color: $purple;
  }
  &--right {
    float: right;
    padding: 115px 70px 105px 85px;
    background-color: $yellow;
  }
}

.services__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
}

.services__logo-text {
  display: block;
  height: 169px;
  line-height: 1.2;
  font-size: 134px;
  font-weight: 700;
  color: $purple;
}
