@charset "UTF-8";
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway-bold-webfont.woff2") format("woff2"), url("../fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #202242; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; }

.container {
  max-width: calc(1170px + 20px);
  margin: 0 auto;
  padding: 0 10px; }

.btn {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #202242;
  background-color: #ffe13e;
  border: none; }
  .btn:hover {
    background-color: #f1cb00; }
  .btn--search {
    width: 153px;
    height: 54px;
    padding: 14px 20px;
    color: #fff;
    border-left: 1px solid #fff;
    cursor: pointer; }

.btn-services {
  display: inline-block;
  vertical-align: top;
  padding: 12px 50px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0); }
  .btn-services--yellow:hover {
    color: #ffe13e;
    border: 2px solid #ffe13e;
    background-color: inherit; }
  .btn-services--blue:hover {
    color: #202242;
    border: 2px solid #202242;
    background-color: inherit; }

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.logo {
  width: 270px; }

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.nav__item {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 0; }

.nav__link {
  display: block;
  padding: 5px 18px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #202242; }
  .nav__link--active {
    font-weight: 700;
    color: #ffe13e;
    pointer-events: none;
    /* делаем ссылку некликабельной */
    cursor: default;
    /* устанавливаем курсор в виде стрелки */ }
  .nav__link:hover {
    color: #ffe13e; }

.hamburger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear; }
  .hamburger:focus {
    outline: none; }
  .hamburger:hover {
    opacity: 0.6; }

.hamburger--show {
  display: none; }

.hamburger__inner {
  position: absolute;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px; }
  .hamburger__inner::before, .hamburger__inner::after {
    content: '';
    position: absolute;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px; }
  .hamburger__inner::before {
    top: -10px; }
  .hamburger__inner::after {
    top: 10px; }

.hamburger--active .hamburger__inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
  .hamburger--active .hamburger__inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--active .hamburger__inner::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }

.callback {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 29px;
  font-size: 0;
  border-left: 1px solid #ebebeb; }

.callback__desc {
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 700; }

.callback__phone {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  padding-left: 18px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  border-left: 1px solid rgba(32, 34, 66, 0.31); }

@media (max-width: 1200px) {
  .container {
    padding: 0; }
  .page-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px; }
  .callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: none;
    background-color: #577ca7;
    color: #fff; }
  .callback__desc {
    font-size: 14px;
    margin: 0; }
  .promo__title {
    font-size: 3em; } }

@media (max-width: 810px) {
  .page-header {
    margin: 0;
    padding: 0; }
  .page-header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 25px; }
  .page-header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .logo__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px; }
  .nav {
    display: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px; }
  .nav--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .nav__link {
    text-align: center;
    font-size: 18px; }
  .hamburger--show {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .callback {
    display: none; } }

.promo {
  position: relative;
  padding-top: 220px;
  padding-bottom: 140px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.33)), to(rgba(0, 0, 0, 0.33))), url(../img/bg-promo.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url(../img/bg-promo.jpg);
  background-size: cover; }

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 1.3;
  font-weight: 400;
  text-align: center; }

.promo__desc {
  margin: 0;
  font-size: 30px;
  line-height: 1.3;
  text-align: center; }
  .promo__desc::after {
    content: url(../img/figure.svg);
    display: block;
    margin-top: 50px;
    margin-bottom: 55px; }

.search {
  width: 570px;
  padding: 17px;
  margin: 0 auto;
  font-size: 0px;
  background-color: rgba(255, 255, 255, 0.5); }

.search__field {
  width: 273px;
  height: 54px;
  margin-right: 1px;
  padding: 14px 30px 14px 20px;
  font-size: 18px;
  border: none; }

.search__select {
  width: 109px;
  height: 54px;
  padding: 14px 20px;
  font-size: 18px;
  vertical-align: top;
  font-weight: 700;
  color: #202242;
  background: url(../img/icon/arrow-down.png) no-repeat;
  background-position: 75px 24px;
  background-color: #ffe13e;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none; }
  .search__select::-ms-expand {
    display: none; }

@media (max-width: 1200px) {
  .promo__title {
    font-size: 3rem; } }

@media (max-width: 810px) {
  .promo__title {
    font-size: 2.5rem; }
  .promo__desc {
    font-size: 1.8rem; }
  .search {
    width: 100%;
    padding: 20px 40px; }
  .search__box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .search__field {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-bottom: 10px; }
  .search__select {
    width: 30%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px; }
  .btn--search {
    width: 70%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; } }

@media (max-width: 420px) {
  .promo__title {
    font-size: 2rem; }
  .promo__desc {
    font-size: 1.4rem; }
  .search__select {
    width: 100%;
    margin-bottom: 10px; }
  .btn--search {
    width: 100%;
    border-left: 0; } }

.services {
  background-image: -webkit-gradient(linear, left top, right top, from(#202242), color-stop(50%, #202242), color-stop(50%, #ffe13e), to(#ffe13e));
  background-image: linear-gradient(to right, #202242 0%, #202242 50%, #ffe13e 50%, #ffe13e 100%); }
  .services .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .services p {
    margin: 0; }

.services__inner {
  margin-top: 40px;
  margin-bottom: 30px; }

.services__content {
  position: relative;
  width: 50%;
  text-align: center;
  color: #fff; }
  .services__content--left {
    padding: 115px 85px 105px 70px;
    background-color: #202242; }
  .services__content--right {
    padding: 115px 70px 105px 85px;
    background-color: #ffe13e; }

.services__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.3; }

.services__logo-text {
  display: block;
  height: 169px;
  line-height: 1.2;
  font-size: 134px;
  font-weight: 700;
  color: #202242; }

@media (max-width: 1200px) {
  .services__content--left {
    padding: 85px 20px 75px; }
  .services__content--right {
    padding: 85px 20px 75px; }
  .services__title {
    font-size: 30px; }
  .services__logo-text {
    font-size: 114px; } }

@media (max-width: 960px) {
  .services {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent));
    background-image: linear-gradient(transparent); }
    .services .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .services p {
      font-size: 16px; }
  .services__content {
    width: 100%; }
    .services__content--left {
      padding: 85px 50px 75px; }
    .services__content--right {
      padding: 85px 50px 75px; }
  .services__title {
    font-size: 30px; }
  .services__logo-text {
    margin: 0;
    vertical-align: top;
    height: 100px;
    font-size: 114px;
    line-height: .7; } }

.features {
  padding: 80px 0;
  background: #fbf8f1 url(../img/bg-features.png) no-repeat center bottom;
  text-align: center; }

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.features__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.1; }

.features__desc {
  margin: 0;
  margin-bottom: 70px;
  font-size: 24px;
  line-height: 1.1; }

.feature {
  width: 270px;
  margin-bottom: 50px; }

.feature__img {
  margin-bottom: 30px; }

.feature__title {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 30px;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 400;
  color: #ffe13e; }
  .feature__title::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 69px;
    height: 3px;
    margin-left: -34px;
    background-color: rgba(32, 34, 66, 0.5); }

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 80px 0px; }
  .client p {
    font-size: 16px;
    color: #a4a4a4; }

.client__inner {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
  padding-left: 20px;
  text-align: left;
  -ms-flex-preferred-size: 370px;
  flex-basis: 370px; }

.client__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 1; }

@media (max-width: 1020px) {
  .client {
    padding: 80px 40px; } }

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-preferred-size: 780px;
  flex-basis: 780px;
  font-size: 0; }

@media (max-width: 1166px) {
  .client__inner {
    padding-left: 0;
    text-align: center; } }

.reviews {
  margin-bottom: 110px; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.reviews__item {
  position: relative;
  width: 363px;
  margin-bottom: 80px;
  color: #a4a4a4; }

.reviews__inner {
  padding: 20px 25px;
  background-color: #faf9f9; }

.reviews__author {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  color: dimgray; }

.reviews__avatar {
  position: absolute;
  bottom: -40px;
  right: 25px;
  width: 100px;
  height: 100px;
  border: 5px solid #e7e7ea;
  border-radius: 50%; }

.plans {
  background-color: #202242;
  color: #fff; }

.plans__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 90px 80px; }

.plans__text {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 394px;
  flex-basis: 394px; }

.plans__title {
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 10px;
  font-weight: 700; }

.plans__desc {
  margin-bottom: 20px;
  font-size: 18px;
  color: #67687b; }

.btn-plans--right {
  padding: 25px 45px;
  font-size: 18px;
  border: 4px solid #fff; }

@media (max-width: 1200px) {
  .plans__inner {
    padding: 70px 60px; }
  .plans__text {
    padding-right: 40px; }
  .plans__title {
    font-size: 2.3rem; }
  .btn-plans--right {
    padding: 15px 35px;
    font-size: 18px;
    border: 4px solid #fff; } }

@media (max-width: 810px) {
  .plans__title {
    font-size: 2rem; }
  .btn-plans--right {
    padding: 15px 25px;
    font-size: 16px;
    border: 4px solid #fff; } }

@media (max-width: 702px) {
  .plans__text {
    padding-right: 0; }
  .plans__title {
    font-size: 2rem; }
  .btn-plans--right {
    padding: 15px 25px;
    font-size: 16px;
    border: 4px solid #fff; } }

@media (max-width: 420px) {
  .plans__title {
    font-size: 1.7rem; } }

.page-footer {
  background-color: rgba(32, 34, 66, 0.9); }

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 85px 0 20px; }

.map {
  position: relative;
  max-width: 920px;
  max-height: 409px; }

.map__picture {
  position: relative; }

.map__marker--indonesia {
  position: absolute;
  bottom: 125px;
  right: -35px; }
  .map__marker--indonesia::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -50px;
    width: 33px;
    height: 47px;
    background: url(../img/map-marker.svg) no-repeat; }

.map__marker-text {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none; }
  .map__marker-text:hover {
    color: #ffe13e; }

@media (max-width: 810px) {
  .map__picture {
    position: relative; }
  .map__marker--indonesia {
    position: absolute;
    bottom: 80px;
    right: 30px; }
    .map__marker--indonesia::after {
      background: none; }
  .map__marker-text {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none; }
    .map__marker-text:hover {
      color: #ffe13e; } }

.right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 200px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 30px;
  padding-right: 60px;
  text-align: right; }

.right-block__title {
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 24px;
  color: #fff; }

.menu {
  margin-bottom: 30px; }

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.menu__link {
  width: 70px;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16); }
  .menu__link:hover {
    color: #ffe13e;
    border-color: #ffe13e; }

.social {
  margin-bottom: 40px; }

.social-icon {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url(../img/icon/icon-socials.png) no-repeat;
  background-position: 0 0;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .social-icon:last-child {
    margin-right: 0; }
  .social-icon:hover {
    opacity: 1; }
  .social-icon--in {
    background-position: -34px 0; }
  .social-icon--gplus {
    background-position: -70px 0; }

.copyright {
  position: relative;
  padding: 40px 0 60px;
  color: #fff;
  text-align: center; }

.copyright::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 30px;
  margin-left: -15px;
  background: url(../img/figure.svg) no-repeat;
  background-size: contain;
  /*transform-origin: 0 0;*/
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg); }

.to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0.5;
  -webkit-transition: opacity linear .15s;
  transition: opacity linear .15s;
  z-index: 999; }
  .to-top:hover {
    opacity: 1; }

.to-top--hidden {
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  opacity: 0; }

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -3px;
  width: 9px;
  height: 9px;
  border: solid #fff;
  border-width: 0;
  border-right-width: 3px;
  border-bottom-width: 3px; }

.arrow--up {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }
