.btn {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #202242;
  background-color: #ffe13e;
  border: none; }
  .btn:hover {
    background-color: #f1cb00; }
  .btn--search {
    width: 153px;
    height: 54px;
    padding: 14px 20px;
    color: #fff;
    border-left: 1px solid #fff;
    cursor: pointer; }

.btn-services {
  display: inline-block;
  vertical-align: top;
  padding: 12px 50px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0); }
  .btn-services--yellow:hover {
    color: #ffe13e;
    border: 2px solid #ffe13e;
    background-color: inherit; }
  .btn-services--blue:hover {
    color: #202242;
    border: 2px solid #202242;
    background-color: inherit; }

.btn-plans--right {
  position: absolute;
  top: 85px;
  right: 90px;
  padding: 25px 45px;
  font-size: 18px;
  border: 4px solid #fff; }

.to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity ease-out .5s;
  z-index: 999; }
  .to-top:hover {
    opacity: 1; }
  .to-top i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -6px; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

.page {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #202242;
  background-color: #fff; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px; }

.page-header {
  padding-top: 35px;
  padding-bottom: 30px; }
  .page-header::after {
    content: '';
    display: table;
    clear: both; }

.logo {
  float: left;
  width: 270px;
  margin-top: 20px; }

.nav {
  float: left;
  width: 560px;
  margin-top: 25px;
  padding: 0 20px; }

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.nav__item {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 0; }

.nav__link {
  display: block;
  padding: 5px 20px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #202242; }
  .nav__link--current {
    font-weight: 700;
    color: #ffe13e; }
  .nav__link:hover {
    color: #ffe13e; }

.callback {
  float: right;
  width: 300px;
  font-size: 0; }

.callback__desc {
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 700; }

.callback__phone {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 50px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5; }
  .callback__phone::after {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    width: 1px;
    height: 34px;
    background-color: #202242;
    opacity: 0.31; }

.promo {
  position: relative;
  padding-top: 220px;
  padding-bottom: 140px;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url(../img/bg-promo.jpg);
  background-size: cover; }

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 1.3;
  font-weight: 400;
  text-align: center; }

.promo__desc {
  margin: 0;
  font-size: 30px;
  line-height: 1.3;
  text-align: center; }
  .promo__desc::after {
    content: url(../img/figure.svg);
    display: block;
    margin-top: 50px;
    margin-bottom: 55px; }

.search {
  width: 570px;
  padding: 17px;
  margin: 0 auto;
  font-size: 0px;
  background-color: rgba(255, 255, 255, 0.5); }

.search__field {
  width: 273px;
  height: 54px;
  margin-right: 1px;
  padding: 14px 30px 14px 20px;
  font-size: 18px;
  border: none; }

.search__select {
  width: 109px;
  height: 54px;
  padding: 14px 20px;
  font-size: 18px;
  vertical-align: top;
  font-weight: 700;
  color: #202242;
  background: url(../img/icon/icon-arrow--down.png) no-repeat;
  background-position: 75px 24px;
  background-color: #ffe13e;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none; }
  .search__select::-ms-expand {
    display: none; }

.services {
  background-image: linear-gradient(to right, #202242 0%, #202242 50%, #ffe13e 50%, #ffe13e 100%); }
  .services::after {
    content: '';
    display: table;
    clear: both; }
  .services p {
    margin: 0; }

.services-inner {
  margin-top: 40px;
  margin-bottom: 30px; }

.services__content {
  position: relative;
  width: 50%;
  text-align: center;
  color: #fff; }
  .services__content--left {
    float: left;
    padding: 115px 85px 105px 70px;
    background-color: #202242; }
  .services__content--right {
    float: right;
    padding: 115px 70px 105px 85px;
    background-color: #ffe13e; }

.services__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.3;
  text-align: center; }

.services__logo-text {
  display: block;
  height: 169px;
  line-height: 1.2;
  font-size: 134px;
  font-weight: 700;
  color: #202242; }

.features {
  padding: 80px 0 110px 0;
  background: #fbf8f1 url(../img/bg-features.png) no-repeat center bottom;
  text-align: center; }

.features-inner::after {
  content: '';
  display: table;
  clear: both; }

.features__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.1; }

.features__desc {
  margin: 0;
  margin-bottom: 70px;
  font-size: 24px;
  line-height: 1.1; }

.feature {
  float: left;
  width: 270px;
  margin-right: 20px; }
  .feature:last-child {
    margin-right: 0; }

.feature__img {
  margin-bottom: 30px; }

.feature__title {
  position: relative;
  margin: 0;
  padding-top: 30px;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 400;
  color: #ffe13e; }
  .feature__title::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 69px;
    height: 3px;
    margin-left: -34px;
    background-color: rgba(32, 34, 66, 0.5); }

.client {
  padding: 80px 0; }
  .client::after {
    content: '';
    display: table;
    clear: both; }
  .client p {
    font-size: 16px;
    color: #a4a4a4; }

.client-inner {
  float: left;
  width: 350px;
  padding-right: 35px; }

.client__title {
  margin: 0;
  font-size: 36px;
  line-height: 1; }

.company {
  float: right;
  width: 780px;
  margin-top: 15px;
  font-size: 0; }

.company__link {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px; }
  .company__link:last-child {
    margin-right: 0; }

.reviews {
  margin-bottom: 110px; }

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .reviews__list::after {
    content: '';
    display: table;
    clear: both; }

.reviews__item {
  position: relative;
  width: 363px;
  float: left;
  margin-right: 30px;
  color: #a4a4a4; }
  .reviews__item:last-child {
    margin-right: 0; }

.reviews-inner {
  padding: 20px 0;
  background-color: #faf9f9; }

.reviews__author {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  color: dimgray; }

.reviews__avatar {
  position: absolute;
  bottom: -50px;
  right: 25px;
  width: 100px;
  height: 100px;
  border: 5px solid #e7e7ea;
  border-radius: 50%; }

.plans {
  background-color: #202242;
  color: #fff; }

.plans-inner {
  position: relative;
  padding: 90px 80px; }

.plans__title {
  font-size: 36px;
  line-height: 1.1; }

.plans__desc {
  font-size: 18px;
  color: #67687b; }

.page-footer {
  background-color: rgba(32, 34, 66, 0.9); }

.footer-inner {
  padding: 85px 0 20px; }
  .footer-inner::after {
    content: '';
    display: table;
    clear: both; }

.map {
  float: left;
  position: relative;
  width: 920px;
  height: 409px;
  background: url(../img/bg-map.png) no-repeat 0 50%; }

.map__marker--indonesia {
  position: absolute;
  bottom: 125px;
  right: 57px; }
  .map__marker--indonesia::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -50px;
    width: 33px;
    height: 47px;
    background: url(../img/map-marker.svg) no-repeat; }

.map__marker-text {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none; }
  .map__marker-text:hover {
    color: #ffe13e; }

.right-block {
  float: right;
  width: 200px;
  padding-top: 30px;
  text-align: right; }

.right-block__title {
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 24px;
  color: #fff; }

.menu {
  margin-bottom: 30px; }

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.menu__link {
  width: 70px;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16); }
  .menu__link:hover {
    color: #ffe13e;
    border-color: #ffe13e; }

.social {
  margin-bottom: 40px; }

.social-icon {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url(../img/icon/icon-socials.png) no-repeat;
  background-position: 0 0;
  opacity: 0.7;
  transition: opacity 0.3s; }
  .social-icon:last-child {
    margin-right: 0; }
  .social-icon:hover {
    opacity: 1; }
  .social-icon--in {
    background-position: -34px 0; }
  .social-icon--gplus {
    background-position: -70px 0; }

.copyright {
  position: relative;
  padding: 40px 0 60px;
  color: #fff;
  text-align: center; }

.copyright::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 31px;
  height: 30px;
  margin-left: -15px;
  background: url(../img/figure.svg) no-repeat;
  background-size: contain;
  /*transform-origin: 0 0;*/
  transform: rotate(-15deg); }
